<% form_for @item do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :flag %><br />
    <%= f.check_box :flag %>
  </p>
  <p><%= f.submit %></p>
<% end %>
