

<p><%= link_to "New Item", new_item_path %></p>

 <% @items.each do |l| %>
 	<%=h l.name %> 
 		<%if l.flag == false  %>
 			<% ad_builder(l.name)%>	
			<% @amazon_list.each do |t| %>
				<div>
					<img src = "<%= t['pic']%>" >
			 			<%= link_to t['title'], t['url'].to_s %>
						<%= t['price']%>
 				</div>  
			<%end%>	
	<%end%>	
<br>
	<p>
   	  <%= link_to "Show", l %> | 
      <%= link_to "Edit", edit_item_path(l) %> | 
      <%= link_to "Destroy", l, :confirm => 'Are you sure?', :method => :delete %>
   </p>
<hr>
 <% end %>
 
 
 